.menu-list {
    position: absolute !important;
    margin-top: 0;
    top: 83px;
    right: 13px;
    width: 22%;
    height: 72.5%;;
    background-color: white;
}

.menu-item {
    font-family: 'Montserrat';
    font-size: 14px !important;
    padding-left: 12% !important;
}
.menu-item--nested {
    padding-left: 30% !important;
}