@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 7%;
    height: 70px;
    box-shadow: 0px -15px 60px #757575;
    margin-bottom: 1px;
}

.header a {
    text-decoration: none;
    padding: 30px;
}
.header .nav a {
    /*text-transform: lowercase;*/
    font-family: 'Federo', sans-serif;
    font-size: 18px;
    color: #000000;
}

.nav {
    position: relative;
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    line-height: 26.4px;
    letter-spacing: 1px;    
    color: #0C2E0F;
}

.header .nav .nav__link {
    color: #159675;
    
}

.header .nav .nav__link:hover {
    color: #159675;
}

.nav__link:hover {
    color: #159675;
    cursor: pointer;
}


.nav__link{
    position: relative;
    font-weight: 300;
    font-size: 20px;
}

.nav__link::after{
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: #0C2E0F;
    position: absolute;
    right: calc(50% - 30px);
    transform: scale(0, 0);
    margin-top: 3px;
    transition: .5s;
}
.nav__link:hover::after{
      transform: scale(1, 1);
}


@media only screen and (max-width: 900px) {
   .nav__link {
    padding: 13px !important;
    }
}

@media only screen and (max-width: 450px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 370px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

 }

  /* The container <div> - needed to position the dropdown content */

.header .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
.header .dropdown-content {
    position: absolute;
    left: 18%;
    background-color: #fff;
    width: 120px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .header .dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 12px;
    display: block;
  }
  
  .header .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .header .show {display:block;}

  .search-input {
    width: 170px;
    height: 28px;
    margin: 0 10px;
    padding: 0 5px;
}
.search-button {
    width: 60px;
    height: 32px;
    color: white;
    background-color: #4F8C7D;
    border: none;
    position: relative;
}
.search-button-box {
    display: inline-block;
}
.search-title {
    color: white;
    padding: 5px !important;
}
.search-button:hover  {
    color: white;
    background-color: black;
    border: none;
    position: relative;
}

.search-button:active {
    background-color: white;
    border: 1px solid black;
    color: black;
}
.search-title:active {
    background-color: white;
    color: black;
}