.carousel-class {
    width:75%;
    padding: 13px 0 0 13px;
}

.pages {
    height: 80vh;
}
.main-page {
    background-image: url("images/bckg.jpg");
    background-size: cover;
}

.slick-prev, .slick-next {
    height: 100%;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
}

.second-page {
    background-image: url("images/bckg1.jpg");
    background-size: cover;
}


.main-text-desc {
    font-size: 20px;
    font-family: 'Montserrat';
    position: relative;
    left: 42%;
    width: 450px;
    text-align: right;
    line-height: 1.2;
}

.main-text-title {
    position: relative;
    top: 40px;
    left: 47%;
    font-size: 45px;
    font-weight: 600;
    width: 100%;
    padding: 30px 0 20px 0;
}
.title-custom {
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px; 
    font-style: normal; 
    font-weight: 200;
    font-variant: normal; 
    line-height: 26.4px;
    letter-spacing: 1px;    
    color: #0C2E0F;
}

.second-text-title {
    color: white;
    position: relative;
    width: 350px;
    top: 25px;
    left: 7%;
    font-size: 50px;
}

.second-text-desc {
    font-size: 22px;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 400px;
    color: white;
    position: relative;
    top: 10px;
    left: 7%;
}

.third-page {
    background-image: url("images/bckg2.jpg");
    background-size: cover;
}

.third-text-desc {
    text-align: center;
    color: white;
    font-weight: 600;
    position: relative;
    top: 20px;
    left: 30%;
    font-size: 40px;
    width: 40%;
}

.main-page .button {
    position: relative;
    left: 74.5%;
    top: 25px;
}